<!--- header --->
<header class="row">
    <div class="col-sm">
        <h1>About</h1>
    </div>
</header>

<!--- start columns --->
<section class="row" id="about">

<!--- left column --->
    <div class="col-sm">
        <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.</p>
    </div>

</section>